* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e") no-repeat center center/cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.container {
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    padding: 30px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    color: white;
    z-index: 1;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #ff6b81;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background: #ff4757;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    background: rgba(255,255,255,0.2);
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

li:hover {
    transform: translateX(5px);
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete-btn {
    background: #e74c3c;
    border: none;
    padding: 5px 8px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

#taskCount {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}
