* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #14c8e8, #764ba2);
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: rgba(15, 14, 14, 0.1);
    backdrop-filter: blur(10px);
    color: rgb(14, 11, 11);
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(9, 7, 7);
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: rgb(252, 249, 249);
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    color: white;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text p {
    margin: 20px 0;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
}

/* Button */
.btn {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background: rgb(9, 9, 9);
    color: #764ba2;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: rgb(248, 242, 248);
    transform: scale(1.05);
}

/* Services */
.services {
    background: rgb(243, 240, 240);
    padding: 80px;
    text-align: center;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    background: #f3f3f3;
    padding: 30px;
    border-radius: 15px;
    width: 250px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: #764ba2;
    color: white;
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .service-container {
        flex-direction: column;
        align-items: center;
    }
}
