body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e259b2, #eeebf1);
}

.container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

h1 {
    margin-bottom: 20px;
}

#counter {
    font-size: 60px;
    font-weight: bold;
    margin: 20px 0;
    transition: 0.3s ease;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

#increase {
    background: #010a03;
    color: white;
}

#decrease {
    background: #080102;
    color: white;
}

#reset {
    background: #ffc107;
}

.buttons button:hover {
    transform: scale(1.1);
}
