* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: rgb(239, 239, 240);
    scroll-behavior: smooth;
}

/* ================= NAVBAR ================= */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: rgba(12, 8, 8, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(238, 229, 229);
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #e499d9;
}

/* ================= HERO SECTION ================= */
.hero {
    height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)),
        url('https://images.unsplash.com/photo-1498050108023-c5249f4df085')
        no-repeat center center/cover;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero-content h1 {
    font-size: 50px;
    text-shadow: 0 4px 15px rgba(0,0,0,0.6);
}

.hero-content p {
    margin: 20px 0;
    text-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

/* ================= BUTTON ================= */
.btn {
    padding: 12px 25px;
    border-radius: 30px;
    background: #c47fd0;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    background: white;
    transform: scale(1.05);
}

/* ================= SECTIONS ================= */
.section {
    padding: 120px 80px;
    background: #111;
}

.light {
    background: #1f1f1f;
}

.section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}

.section p {
    max-width: 800px;
    margin: auto;
    text-align: center;
    line-height: 1.6;
}

/* ================= CARD ================= */
.card {
    background: #2c2c2c;
    padding: 30px;
    margin: 20px auto;
    border-radius: 15px;
    max-width: 600px;
    text-align: center;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    background: #f596dc;
    color: black;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 20px;
    }

    .section {
        padding: 80px 20px;
    }

    .hero-content h1 {
        font-size: 32px;
    }
}
